{% extends "base.html" %}

{% block extrascript %}
<title>О проекте</title>
{% endblock %}

{% block content %}
    <h1>О проекте</h1>
{% endblock %}

{% block section %}
    <h2>Сайт для внутреннего пользования БАРС Бюджет</h2>
<span style="text-align:left;font-size:17px">
Предназначен для всех сотрудников БЦ БАРС Бюджет
<br />В первую очередь для отдела развития и разработки, а так же отдела поддержки
<br />Развивается сайт на голом энтузиазме во вне рабочее время
<br />Приветствую любую критику с Вашей стороны, а также помощь в развитии.
<br />Разработка ведется на чистом django.
<br />
<br />Цели:
<br />
<li>- автоматизировать процесс работы</li>
<li>- улучшить продуктивность коллектива</li>
<li></li>
<br />Планы:
<br />
<li>- в Сборщике добавить возможность джаббер оповещения людям, которые не запускали ветку</li>
<li>- реализовать функцию рассылки, с возможностью исключения конкрентого пользователя</li>
<li>- сделать движок для новостей его же использовать для Чаво</li>
<li>- прикрутить rss механизм для новостей</li>
<li>- в Сборщике добавить настройку "для контрольного тестирования"</li>
<li>- в Сборщике выделить СВОДЫ и КЛАДР в отдельные пункты</li>
<li>- перейти от syncdb к South - как у больших, привести в порядок БД</li>
<li>- добавить разделение по Группам пользователей</li>
<li>- добавить твиты компании БАРС Груп, БАРС Бюджет и т.п., и по тегам</li>
<li>- реализовать интерактивный поиск и прикрутить ко всем приложениям сайта</li>
<br />
<li>- разработать джаббер бот для отправки/приема сообщений</li>
<li>- создать модуль отправки сообщений: Рассылка</li>
<br />
если вы чувствуете желание, помочь хотите освоить чтото новое <a href="mailto:valiullin@bars-open.ru" >welcome</a>!!!

</span>
{% endblock %}